:root {
    --body-background--1: #80178b;
    --body-background--2: #ffd5fb;

    --logo-text-color: #000000;

    --appbar-background: #ffffff;
    --appbar-text-color: #000000;
    --appbar-background-hover: rgba(red(#80178b), green(#80178b), blue(#80178b), .5);;
    --appbar-text-color-hover: #fff;

    --footer-background: #80178b;
    --footer-text-color: #ffffff;

    --screenshots-background: #ffd5fb;
    --screenshots-text-color: #000000;
}

.dark-mode {
    --body-background--1: #468cff;
    --body-background--2: #b6ecff;

    --logo-text-color: #ffffff;

    --appbar-background: #2b2d30;
    --appbar-text-color: #adbaa9;
    --appbar-background-hover: rgba(red(#468cff), green(#468cff), blue(#468cff), .1);;
    --appbar-text-color-hover: #fff;

    --footer-background: #468cff;
    --footer-text-color: #ffffff;

    --screenshots-background: #b6ecff;
    --screenshots-text-color: #000000;
}

body {
    padding-top: 52px!important;
}

.hero {
    background-image: linear-gradient(to right bottom, var(--body-background--1), var(--body-background--2));
    padding: 20px;
}

@media screen and (min-width: 768px) {
    .hero {
        padding: 120px 80px;
    }
}

.fg-logo-text {
    color: var(--logo-text-color);
}

#screenshots {
    padding: 80px 0;
    color: var(--screenshots-text-color);
    background:
            url(../images/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box,
            url(../images/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box,
            linear-gradient(60deg, var(--body-background--2), var(--body-background--2)) 0% 0% / auto repeat scroll padding-box border-box  ;
    background-blend-mode: normal, normal;

    .img-wrap {
        height: 130px;
        overflow: hidden;
    }
}

#pandora {
    padding: 80px 0;
}

footer {
    background-color: var(--footer-background);
    color: var(--footer-text-color);

    a {
        color: #ffffff!important;
    }
}

@media screen and (min-width: 768px){
    #futures > .container,
    #screenshots > .container,
    #pandora > .container
    {
        padding: 80px 0;
    }
}
